@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --fundo-cor: #111827;
    --fundo-cor-circulo-01: #E064F4;
    --fundo-cor-circulo-02: #0182CA;
    --elementos-cor: #FFFFFF;
    --fonte-cor: #FFFFFF;
    --fonte-cor-destaque: #20C2CC;
    --fonte-estilo: 'Roboto', sans-serif;
    --fonte-tamanho-titulo-principal-telas-g-m: 50px;
    --fonte-tamanho-titulo-secundaria-telas-g-m: 30px;
    --fonte-tamanho-paragrafos-telas-g-m: 20px;
    --fonte-tamanho-titulo-principal-telas-p: 40px;
    --fonte-tamanho-titulo-secundaria-telas-p: 25px;
    --fonte-tamanho-paragrafos-telas-p: 18px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-estilo);
    color: var(--fonte-cor);
    text-decoration: none;
}

body{
    background-color: var(--fundo-cor);
}
.destaque{
    color: var(--fonte-cor-destaque);
}
.btn, .btn-hero-row{
    border: 1px solid var(--elementos-cor);
    text-align: center;
}
.caixa-serviço{
    border: 2px solid var(--elementos-cor);
    border-radius: 16vw 64vw 16vw 16vw;
}
img{
    width: 200px;
    height: 200px;
}

@media (max-width: 500px){
    .titulo-tamanho{
        font-size: var(--fonte-tamanho-titulo-principal-telas-p);
    }
    .titulo-secundario-tamanho{
        font-size: var(--fonte-tamanho-titulo-secundaria-telas-p);
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-tamanho-paragrafos-telas-p);
    }
    .espaçamento-lateral{
        margin: 0 5%;
    }
    .espaçamento-cima-baixo{
        margin: 10% 0;
    }
    .espaçamento-baixo{
        margin-bottom: 10%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 5%;
    }

    #img-hero-row{
        width: 200px;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 500px;
        background-size: cover;
    }
    .capa-projetos-telas-g-m{
        display: none;
    }
    .capa-projetos-telas-p{
        width: 186px;
        height: 285px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        background-size: cover;
    }

    .btn-hero-row, .btn{
        border-radius: 5vw;
        padding: 3% 5%;
    }
    .btn{
        display: block;
    }
}