/*Regras CSS gerais para configuração da página*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --fundo-cor: #111827;
    --elementos-cor: #FFFFFF;
    --fonte-cor: #FFFFFF;
    --fonte-cor-destaque: #20C2CC;
    --cor-bola-rosa: #f35bf3;
    --cor-bola-azul: #64f3ec;
    --fonte-estilo: 'Roboto', sans-serif;
    --fonte-tamanho-titulo-principal-telas-g-m: 50px;
    --fonte-tamanho-titulo-secundaria-telas-g-m: 30px;
    --fonte-tamanho-paragrafos-telas-g-m: 20px;
    --fonte-tamanho-titulo-principal-telas-p: 40px;
    --fonte-tamanho-titulo-secundaria-telas-p: 25px;
    --fonte-tamanho-paragrafos-telas-p: 18px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-estilo);
    color: var(--fonte-cor);
    text-decoration: none;
    transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    scroll-behavior: smooth;
}
@keyframes bola-animação {
    0%{
        background-color: var(--cor-bola-azul);
    }
    50%{
        background-color: var(--cor-bola-rosa);
    }
    100%{
        background-color: var(--cor-bola-azul);
    }
}
html.sr, .hidden{
    display: hidden;
}
/*Regras CSS que se aplicam em elementos não importa o tamanho da tela*/
body{
    background-color: var(--fundo-cor);
}
.destaque{
    color: var(--fonte-cor-destaque);
}
.btn{
    border: 1px solid var(--elementos-cor);
    text-align: center;
}
.btn:active{
    background-color: var(--fonte-cor-destaque);
}
.icones-redes-sociais{
    width: 50px;
    height: 50px;
}
.icones-serviços{
    width: 100px;
    height: 100px;
}
.caixa-serviço{
    border: 2px solid var(--elementos-cor);
    border-radius: 5vw;
    padding: 25% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.texto-footer{
    font-style: italic;
}
footer{
    border-top: 1px solid var(--elementos-cor);
}

.bola{
    border-radius: 500px;
    position: absolute;
    z-index: 1;
    animation-name: bola-animação;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
/*Regras CSS para telas de celulares*/
@media (max-width: 520px){
    /*Regras CSS para fontes e espaçamento*/
    .titulo-tamanho{
        font-size: var(--fonte-tamanho-titulo-principal-telas-p);
        text-align: center;
    }
    .titulo-secundario-tamanho{
        font-size: var(--fonte-tamanho-titulo-secundaria-telas-p);
        text-align: center;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-tamanho-paragrafos-telas-p);
        text-align: justify;
    }
    .espaçamento-lateral{
        margin: 0 5%;
    }
    .espaçamento-cima-baixo{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .espaçamento-baixo{
        margin-bottom: 20%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 7%;
    }
    .espaçamento-baixo-cards{
        margin-bottom: 10%;
    }
    /*Regras CSS imagens*/
    #img-hero-row{
        width: 200px;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 500px;
        background-size: cover;
    }
    .capa-projetos-telas-g-m{
        display: none;
    }
    .capa-projetos-telas-p{
        width: 186px;
        height: 285px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        background-size: cover;
    }
    .capa-projetos-telas-g-m{
        display: none;
    }
    #b1{
        left: 32.5%;
        top: 80%;  
    }
    #b2{
        left: 32.5%;
        top: 80%;  
    }
    #b3{
        left: 32.5%;
        top: 30%;  
    }
    /*Regras CSS para dimensões de elementos*/
    .bola{
        filter: blur(70px);
        width: 40vw;
        height: 40vw;
    }
    .btn{
        border-radius: 5vw;
        padding: 3% 5%;
    }
    .btn{
        display: block;
    }
    footer{
        height: 50vw;
    }
    #redes-socias-footer{
        width: 50%;
    }
    /*Regras CSS para elementos flex*/
    #hero-row, .caixa-imagem-projetos, .redes-socias, footer, #redes-socias-footer{
        display: flex;
    }
    #hero-row{
        flex-direction: column-reverse;
    }
    .caixa-imagem-projetos, footer{
        flex-direction: column;
    }
    #hero-row, .caixa-imagem-projetos, footer, #redes-socias-footer{
        align-items: center;
    }
    #hero-row, .caixa-imagem-projetos, footer{
        justify-content: center;
    }
    .redes-socias, #redes-socias-footer{
        justify-content: space-around;
    }
}
/*Regras CSS para telas de tablets*/
@media (min-width: 521px){
    /*Regras CSS para fontes e espaçamento*/
    .titulo-tamanho{
        font-size: var(--fonte-tamanho-titulo-principal-telas-g-m);
        text-align: center;
    }
    .titulo-secundario-tamanho{
        font-size: var(--fonte-tamanho-titulo-secundaria-telas-g-m);
        text-align: center;
    }
    .esquerdo{
        text-align: left;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-tamanho-paragrafos-telas-g-m);
        text-align: justify;
    }
    .espaçamento-lateral{
        margin: 0 15%;
    }
    .espaçamento-cima-baixo{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .espaçamento-baixo{
        margin-bottom: 15%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 7%;
    }
    .espaçamento-baixo-cards{
        margin-bottom: 10%;
    }
    /*Regras CSS imagens*/
    #img-hero-row{
        width: 400px;
        height: 400px;
        border-radius: 400px;
        background-size: cover;
    }
    .capa-projetos-telas-p{
        display: none;
    }
    .capa-projetos-telas-g-m{
        width: 508px;
        height: 250px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        background-size: cover;
    }
    #b1{
        left: 32.5%;
        top: 75%;  
    }
    #b2{
        left: 32.5%;
        top: 70%;  
    }
    #b3{
        left: 32.5%;
        top: 30%;  
    }
    /*Regras CSS para dimensões de elementos*/
    .bola{
        filter: blur(85px);
        width: 20vw;
        height: 20vw;
    }
    .btn{
        border-radius: 5vw;
        padding: 3% 5%;
    }
    .btn{
        display: block;
    }
    footer{
        height: 30vw;
    }
    #redes-socias-footer{
        width: 50%;
    }
    /*Regras CSS para elementos flex*/
    #hero-row, .caixa-imagem-projetos, .redes-socias, footer, #redes-socias-footer{
        display: flex;
    }
    #hero-row{
        flex-direction: column-reverse;
    }
    .caixa-imagem-projetos, footer{
        flex-direction: column;
    }
    #hero-row, .caixa-imagem-projetos, footer, #redes-socias-footer{
        align-items: center;
    }
    #hero-row, .caixa-imagem-projetos, footer{
        justify-content: center;
    }
    .redes-socias, #redes-socias-footer{
        justify-content: space-around;
    }
}
/*Regras CSS para telas de computadores*/
@media (min-width: 1082px){
    /*Regras CSS para fontes e espaçamento*/
    .espaçamento-lateral{
        margin: 0 5%;
    }
    .espaçamento-cima-baixo{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .espaçamento-baixo{
        margin-bottom: 7%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 5%;
    }
    .espaçamento-baixo-cards{
        margin-bottom: 5%;
    }
    #b1{
        left: 12%;
        top: 50%;  
    }
    #b2{
        left: 25%;
        top: 65%;  
    }
    #b3{
        left: 25%;
        top: 20%;  
    }
    /*Regras CSS para dimensões de elementos*/
    #caixa-texto-hero-row, .caixa-projeto{
        width: 40vw;
    }
    .bola{
        filter: blur(100px);
        width: 15vw;
        height: 15vw;
    }
    .caixa-serviço{
        width: 30vw;
        height: 45vw;
        padding: 0% 2%;
    }
    footer{
        height: 15vw;
    }
    #redes-socias-footer{
        width: 25%;
    }
    /*Regras CSS para elementos flex*/
    #hero-row, #seção-meus-projetos-flex, #seção-serviços-flex, .redes-socias{
        display: flex;
    }
    #hero-row{
        flex-direction: row;
    }
    #seção-meus-projetos-flex{
        flex-wrap: wrap;
    }
    #seção-serviços-flex{
        gap: 3%;
    }
    #hero-row, #seção-meus-projetos-flex, #seção-serviços-flex{
        align-items: center;
    }
    #hero-row, #seção-meus-projetos-flex{
        justify-content: space-between;
    }
    .redes-socias{
        justify-content: space-evenly;
    }
}