@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    --fundo-cor: #111827;
    --fundo-cor-circulo-01: #E064F4;
    --fundo-cor-circulo-02: #0182CA;
    --elementos-cor: #FFFFFF;
    --fonte-cor: #FFFFFF;
    --fonte-cor-destaque: #20C2CC;
    --fonte-estilo: 'Roboto', sans-serif;
    --fonte-tamanho-titulo-principal-telas-g-m: 50px;
    --fonte-tamanho-titulo-secundaria-telas-g-m: 30px;
    --fonte-tamanho-paragrafos-telas-g-m: 20px;
    --fonte-tamanho-titulo-principal-telas-p: 40px;
    --fonte-tamanho-titulo-secundaria-telas-p: 25px;
    --fonte-tamanho-paragrafos-telas-p: 18px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-estilo);
    color: var(--fonte-cor);
    text-decoration: none;
    transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
body{
    background-color: var(--fundo-cor);
}
.bola{
    position: absolute;
}
.bola.rosa{
    background-color: var(--fundo-cor-circulo-01);
}
.bola.azul{
    background-color: var(--fundo-cor-circulo-02);
}
#efeito-vidro{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: #1118273a;
    backdrop-filter: blur(100px);
}
.destaque{
    color: var(--fonte-cor-destaque);
}
.btn{
    border: 1px solid var(--elementos-cor);
    text-align: center;
}
.btn:active{
    background-color: var(--fundo-cor-circulo-01);
}
.icones-redes-sociais{
    width: 50px;
    height: 50px;
}
.icones-serviços{
    width: 100px;
    height: 100px;
}
.caixa-serviço{
    border: 2px solid var(--elementos-cor);
    border-radius: 16vw 64vw 16vw 16vw;
    padding: 25% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
}
footer{
    border-top: 1px solid var(--elementos-cor);
}
.texto-footer{
    font-style: italic;
}

@media (max-width: 500px){
    .titulo-tamanho{
        font-size: var(--fonte-tamanho-titulo-principal-telas-p);
        text-align: center;
    }
    .titulo-secundario-tamanho{
        font-size: var(--fonte-tamanho-titulo-secundaria-telas-p);
        text-align: center;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-tamanho-paragrafos-telas-p);
        text-align: justify;
    }
    .espaçamento-lateral{
        margin: 0 10%;
    }
    .espaçamento-cima-baixo{
        padding-top: 20%;
        padding-bottom: 20%;
    }
    .espaçamento-baixo{
        margin-bottom: 20%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 7%;
    }
    .espaçamento-baixo-cards{
        margin-bottom: 10%;
    }

    #img-hero-row{
        width: 200px;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 500px;
        background-size: cover;
    }
    .capa-projetos-telas-g-m{
        display: none;
    }
    .capa-projetos-telas-p{
        width: 186px;
        height: 285px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        background-size: cover;
    }
    .capa-projetos-telas-g-m{
        display: none;
    }

    .btn{
        border-radius: 5vw;
        padding: 3% 5%;
    }
    .btn{
        display: block;
    }
    footer{
        height: 50vw;
    }
    #redes-socias-footer{
        width: 50%;
    }
    .bola{
        width: 175px;
        height: 175px;
        border-radius: 150px;
    }

    #hero-row, .caixa-imagem-projetos, .redes-socias, footer, #redes-socias-footer{
        display: flex;
    }
    #hero-row{
        flex-direction: column-reverse;
    }
    .caixa-imagem-projetos, footer{
        flex-direction: column;
    }
    #hero-row, .caixa-imagem-projetos, footer, #redes-socias-footer{
        align-items: center;
    }
    #hero-row, .caixa-imagem-projetos, footer{
        justify-content: center;
    }
    .redes-socias, #redes-socias-footer{
        justify-content: space-around;
    }

    #bola-1{
        top: 110%;
        left: 30%;
    }
    #bola-2{
        top: 240%;
        left: 30%;
    }
    #bola-3{
        top: 340%;
        left: 30%;
    }
    #bola-4{
        top: 440%;
        left: 30%;
    }
    #bola-5{
        top: 540%;
        left: 30%;
    }
    #bola-6{
        top: 630%;
        left: 30%;
    }
    #bola-7{
        top: 740%;
        left: 30%;
    }
}

@media (min-width: 500px){
    #efeito-vidro{
        backdrop-filter: blur(300px);
    }
    .titulo-tamanho{
        font-size: var(--fonte-tamanho-titulo-principal-telas-g-m);
        text-align: center;
    }
    .titulo-secundario-tamanho{
        font-size: var(--fonte-tamanho-titulo-secundaria-telas-g-m);
        text-align: center;
    }
    .paragrafo-tamanho{
        font-size: var(--fonte-tamanho-paragrafos-telas-g-m);
        text-align: justify;
    }
    .espaçamento-lateral{
        margin: 0 15%;
    }
    .espaçamento-cima-baixo{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .espaçamento-baixo{
        margin-bottom: 15%;
    }
    .espaçamento-baixo-elementos{
        margin-bottom: 7%;
    }
    .espaçamento-baixo-cards{
        margin-bottom: 10%;
    }

    #img-hero-row{
        width: 400px;
        height: 400px;
        border-radius: 400px;
        background-size: cover;
    }
    .capa-projetos-telas-p{
        display: none;
    }
    .capa-projetos-telas-g-m{
        width: 508px;
        height: 250px;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        background-size: cover;
    }
    .capa-projetos-telas-p{
        display: none;
    }

    .btn{
        border-radius: 5vw;
        padding: 3% 5%;
    }
    .btn{
        display: block;
    }
    footer{
        height: 30vw;
    }
    #redes-socias-footer{
        width: 50%;
    }
    .bola{
        width: 300px;
        height: 300px;
        border-radius: 300px;
    }

    #hero-row, .caixa-imagem-projetos, .redes-socias, footer, #redes-socias-footer{
        display: flex;
    }
    #hero-row{
        flex-direction: column-reverse;
    }
    .caixa-imagem-projetos, footer{
        flex-direction: column;
    }
    #hero-row, .caixa-imagem-projetos, footer, #redes-socias-footer{
        align-items: center;
    }
    #hero-row, .caixa-imagem-projetos, footer{
        justify-content: center;
    }
    .redes-socias, #redes-socias-footer{
        justify-content: space-around;
    }

    #bola-1{
        top: 160%;
        left: 30%;
    }
    #bola-2{
        top: 280%;
        left: 30%;
    }
    #bola-3{
        top: 380%;
        left: 30%;
    }
    #bola-4{
        top: 500%;
        left: 30%;
    }
    #bola-5{
        top: 620%;
        left: 30%;
    }
    #bola-6{
        top: 730%;
        left: 30%;
    }
    #bola-7{
        top: 860%;
        left: 30%;
    }
}